In [1]:
import pandas as pd

In [2]:
pd.Series?

In [3]:
animals = ['tiger', 'bear', 'moose']

In [4]:
animals

['tiger', 'bear', 'moose']

In [5]:
pd.Series(animals)

0    tiger
1     bear
2    moose
dtype: object

In [6]:
numbers = [1, 2, 3, 4]

In [7]:
pd.Series(numbers)

0    1
1    2
2    3
3    4
dtype: int64

In [8]:
animals = ['Tiger', 'Bear', None]

In [9]:
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [10]:
numbers = [1, 4, None]

In [11]:
pd.Series(numbers)

0    1.0
1    4.0
2    NaN
dtype: float64

In [12]:
pd.nan == False

AttributeError: module 'pandas' has no attribute 'nan'

In [13]:
import numpy as np

In [14]:
np.nan == None

False

In [15]:
np.nan == np.nan

False

In [16]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Taekwondo': 'South Koria'}

In [17]:
a = pd.Series(sports)

In [18]:
a

Archery           Bhutan
Golf            Scotland
Taekwondo    South Koria
dtype: object

In [19]:
a.index

Index(['Archery', 'Golf', 'Taekwondo'], dtype='object')

In [20]:
s = pd.Series(['Tiger', 'Bear', 'Moose'], index = ['India', 'America', 'Canada'])

In [21]:
s

India      Tiger
America     Bear
Canada     Moose
dtype: object

In [22]:
t = pd.Series(['Tiger', 'Bear', 'Moose'], index = ['Bangladesh', None, None])

In [23]:
t

Bangladesh    Tiger
NaN            Bear
NaN           Moose
dtype: object

In [24]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])

In [25]:
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [26]:
total = 0
for i in s:
    total += i
print(total)

324.0

In [27]:
import numpy as np

In [28]:
total = np.sum(s)

In [29]:
total

324.0

In [30]:
s = pd.Series(np.random.randint(0, 1000, 10000))

In [31]:
s.head()

0    707
1    308
2    699
3    121
4    800
dtype: int64

In [32]:
len(s)

10000

In [33]:
%%timeit -n 100
summary = 0
for item in s:
    summary += item

100 loops, best of 3: 1.2 ms per loop

In [34]:
%%timeit -n 100
summary = np.sum(s)

100 loops, best of 3: 141 µs per loop

In [35]:
%%timeit -n 10
s = pd.Series(np.random.randint(0, 1000, 10000))
s += 2

10 loops, best of 3: 366 µs per loop

In [36]:
a = pd.Series([1, 2, 3])
a.loc['Animal'] = 'Bears'

In [37]:
a

0             1
1             2
2             3
Animal    Bears
dtype: object

In [38]:
original_sports = pd.Series({'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Taekwondo': 'South Koria'})

In [39]:
cricket_loving_countries = pd.Series(['Australia', 
                                      'Barbadose', 
                                      'Pakistan', 
                                      'England'], 
                                     index = ['Cricket', 
                                              'Cricket', 
                                              'Cricket', 
                                              'Cricket'])

In [40]:
all_countries = original_sports.append(cricket_loving_countries)

In [41]:
original_sports

Archery           Bhutan
Golf            Scotland
Taekwondo    South Koria
dtype: object

In [42]:
cricket_loving_countries

Cricket    Australia
Cricket    Barbadose
Cricket     Pakistan
Cricket      England
dtype: object

In [43]:
all_countries

Archery           Bhutan
Golf            Scotland
Taekwondo    South Koria
Cricket        Australia
Cricket        Barbadose
Cricket         Pakistan
Cricket          England
dtype: object

In [44]:
purchase_1 = pd.Series({'name': 'Chris',
                       'Item Purchased': 'Dog food',
                       'Costs': 22.50})

In [45]:
purchase_2 = pd.Series({'name': 'Kevin',
                       'Item Purchased': 'Kitty Litters',
                       'Costs': 2.5})

In [46]:
purchase_3 = pd.Series({'name': 'Vinod',
                       'Item Purchased': 'Bird Seed',
                       'Costs': 5.0})

In [47]:
df = pd.DataFrame([purchase_1, purchase_2, purchase_3],
                 index = ['Store 1', 'Store 1', 'Store 2'])

In [48]:
df.head()

         Costs Item Purchased   name
Store 1   22.5       Dog food  Chris
Store 1    2.5  Kitty Litters  Kevin
Store 2    5.0      Bird Seed  Vinod

In [49]:
df.loc['Store 2']

Costs                     5
Item Purchased    Bird Seed
name                  Vinod
Name: Store 2, dtype: object

In [50]:
type(df.loc['Store 1'])

pandas.core.frame.DataFrame

In [51]:
df['Item Purchased']

Store 1         Dog food
Store 1    Kitty Litters
Store 2        Bird Seed
Name: Item Purchased, dtype: object

In [52]:
df.loc['Store 1', 'Costs']

Store 1    22.5
Store 1     2.5
Name: Costs, dtype: float64

In [53]:
df.T

                 Store 1        Store 1    Store 2
Costs               22.5            2.5          5
Item Purchased  Dog food  Kitty Litters  Bird Seed
name               Chris          Kevin      Vinod

In [54]:
df.T.loc['Costs']

Store 1    22.5
Store 1     2.5
Store 2       5
Name: Costs, dtype: object

In [55]:
df['Costs']

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Costs, dtype: float64

In [56]:
df.loc['Store 1']['Costs']

Store 1    22.5
Store 1     2.5
Name: Costs, dtype: float64

In [57]:
df.loc[:, ['name', 'Costs']]

          name  Costs
Store 1  Chris   22.5
Store 1  Kevin    2.5
Store 2  Vinod    5.0

In [58]:
df['Location'] = None

In [59]:
df

         Costs Item Purchased   name Location
Store 1   22.5       Dog food  Chris     None
Store 1    2.5  Kitty Litters  Kevin     None
Store 2    5.0      Bird Seed  Vinod     None

In [60]:
df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [61]:
df.iloc[0]

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

In [62]:
df['Gold'] > 0

Afghanistan                         False
Algeria                              True
Argentina                            True
Armenia                              True
Australasia                          True
Australia                            True
Austria                              True
Azerbaijan                           True
Bahamas                              True
Bahrain                             False
Barbados                            False
Belarus                              True
Belgium                              True
Bermuda                             False
Bohemia                             False
Botswana                            False
Brazil                               True
British West Indies                 False
Bulgaria                             True
Burundi                              True
Cameroon                             True
Canada                               True
Chile                                True
China                                True
Colombia                             True
Costa Rica                           True
Ivory Coast                         False
Croatia                              True
Cuba                                 True
Cyprus                              False
                                    ...
Spain                                True
Sri Lanka                           False
Sudan                               False
Suriname                             True
Sweden                               True
Switzerland                          True
Syria                                True
Chinese Taipei                       True
Tajikistan                          False
Tanzania                            False
Thailand                             True
Togo                                False
Tonga                               False
Trinidad and Tobago                  True
Tunisia                              True
Turkey                               True
Uganda                               True
Ukraine                              True
United Arab Emirates                 True
United States                        True
Uruguay                              True
Uzbekistan                           True
Venezuela                            True
Vietnam                             False
Virgin Islands                      False
Yugoslavia                           True
Independent Olympic Participants    False
Zambia                              False
Zimbabwe                             True
Mixed team                           True
Name: Gold, dtype: bool

In [63]:
only_gold = df.where(df['Gold'] > 0)

In [64]:
only_gold.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria,12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0,ALG
Argentina,23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0,ARG
Armenia,5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0,ARM
Australasia,2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0,ANZ

In [65]:
only_gold['Gold'].count()

99

In [66]:
df['Gold'].count()

146

In [67]:
only_gold.dropna()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Algeria,12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0,ALG
Argentina,23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0,ARG
Armenia,5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0,ARM
Australasia,2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0,ANZ
Australia,25.0,139.0,152.0,177.0,468.0,18.0,5.0,3.0,4.0,12.0,43.0,144.0,155.0,181.0,480.0,AUS
Austria,26.0,18.0,33.0,35.0,86.0,22.0,59.0,78.0,81.0,218.0,48.0,77.0,111.0,116.0,304.0,AUT
Azerbaijan,5.0,6.0,5.0,15.0,26.0,5.0,0.0,0.0,0.0,0.0,10.0,6.0,5.0,15.0,26.0,AZE
Bahamas,15.0,5.0,2.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,5.0,12.0,BAH
Belarus,5.0,12.0,24.0,39.0,75.0,6.0,6.0,4.0,5.0,15.0,11.0,18.0,28.0,44.0,90.0,BLR
Belgium,25.0,37.0,52.0,53.0,142.0,20.0,1.0,1.0,3.0,5.0,45.0,38.0,53.0,56.0,147.0,BEL
Brazil,21.0,23.0,30.0,55.0,108.0,7.0,0.0,0.0,0.0,0.0,28.0,23.0,30.0,55.0,108.0,BRA
Bulgaria,19.0,51.0,85.0,78.0,214.0,19.0,1.0,2.0,3.0,6.0,38.0,52.0,87.0,81.0,220.0,BUL
Burundi,5.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,5.0,1.0,0.0,0.0,1.0,BDI
Cameroon,13.0,3.0,1.0,1.0,5.0,1.0,0.0,0.0,0.0,0.0,14.0,3.0,1.0,1.0,5.0,CMR
Canada,25.0,59.0,99.0,121.0,279.0,22.0,62.0,56.0,52.0,170.0,47.0,121.0,155.0,173.0,449.0,CAN
Chile,22.0,2.0,7.0,4.0,13.0,16.0,0.0,0.0,0.0,0.0,38.0,2.0,7.0,4.0,13.0,CHI
China,9.0,201.0,146.0,126.0,473.0,10.0,12.0,22.0,19.0,53.0,19.0,213.0,168.0,145.0,526.0,CHN
Colombia,18.0,2.0,6.0,11.0,19.0,1.0,0.0,0.0,0.0,0.0,19.0,2.0,6.0,11.0,19.0,COL
Costa Rica,14.0,1.0,1.0,2.0,4.0,6.0,0.0,0.0,0.0,0.0,20.0,1.0,1.0,2.0,4.0,CRC
Croatia,6.0,6.0,7.0,10.0,23.0,7.0,4.0,6.0,1.0,11.0,13.0,10.0,13.0,11.0,34.0,CRO
Cuba,19.0,72.0,67.0,70.0,209.0,0.0,0.0,0.0,0.0,0.0,19.0,72.0,67.0,70.0,209.0,CUB
Czech Republic,5.0,14.0,15.0,15.0,44.0,6.0,7.0,9.0,8.0,24.0,11.0,21.0,24.0,23.0,68.0,CZE
Czechoslovakia,16.0,49.0,49.0,45.0,143.0,16.0,2.0,8.0,15.0,25.0,32.0,51.0,57.0,60.0,168.0,TCH
Denmark,26.0,43.0,68.0,68.0,179.0,13.0,0.0,1.0,0.0,1.0,39.0,43.0,69.0,68.0,180.0,DEN
Dominican Republic,13.0,3.0,2.0,1.0,6.0,0.0,0.0,0.0,0.0,0.0,13.0,3.0,2.0,1.0,6.0,DOM
Ecuador,13.0,1.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,13.0,1.0,1.0,0.0,2.0,ECU
Egypt,21.0,7.0,9.0,10.0,26.0,1.0,0.0,0.0,0.0,0.0,22.0,7.0,9.0,10.0,26.0,EGY
Estonia,11.0,9.0,9.0,15.0,33.0,9.0,4.0,2.0,1.0,7.0,20.0,13.0,11.0,16.0,40.0,EST
Ethiopia,12.0,21.0,7.0,17.0,45.0,2.0,0.0,0.0,0.0,0.0,14.0,21.0,7.0,17.0,45.0,ETH
Finland,24.0,101.0,84.0,117.0,302.0,22.0,42.0,62.0,57.0,161.0,46.0,143.0,146.0,174.0,463.0,FIN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Romania,20.0,88.0,94.0,119.0,301.0,20.0,0.0,0.0,1.0,1.0,40.0,88.0,94.0,120.0,302.0,ROU
Russia,5.0,132.0,121.0,142.0,395.0,6.0,49.0,40.0,35.0,124.0,11.0,181.0,161.0,177.0,519.0,RUS
Russian Empire,3.0,1.0,4.0,3.0,8.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,4.0,3.0,8.0,RU1
Soviet Union,9.0,395.0,319.0,296.0,1010.0,9.0,78.0,57.0,59.0,194.0,18.0,473.0,376.0,355.0,1204.0,URS
Unified Team,1.0,45.0,38.0,29.0,112.0,1.0,9.0,6.0,8.0,23.0,2.0,54.0,44.0,37.0,135.0,EUN
Serbia,3.0,1.0,2.0,4.0,7.0,2.0,0.0,0.0,0.0,0.0,5.0,1.0,2.0,4.0,7.0,SRB
Serbia and Montenegro,3.0,2.0,4.0,3.0,9.0,3.0,0.0,0.0,0.0,0.0,6.0,2.0,4.0,3.0,9.0,SCG
Slovakia,5.0,7.0,9.0,8.0,24.0,6.0,2.0,2.0,1.0,5.0,11.0,9.0,11.0,9.0,29.0,SVK
Slovenia,6.0,4.0,6.0,9.0,19.0,7.0,2.0,4.0,9.0,15.0,13.0,6.0,10.0,18.0,34.0,SLO
South Africa,18.0,23.0,26.0,27.0,76.0,6.0,0.0,0.0,0.0,0.0,24.0,23.0,26.0,27.0,76.0,RSA
Spain,22.0,37.0,59.0,35.0,131.0,19.0,1.0,0.0,1.0,2.0,41.0,38.0,59.0,36.0,133.0,ESP
Suriname,11.0,1.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,11.0,1.0,0.0,1.0,2.0,SUR
Sweden,26.0,143.0,164.0,176.0,483.0,22.0,50.0,40.0,54.0,144.0,48.0,193.0,204.0,230.0,627.0,SWE
Switzerland,27.0,47.0,73.0,65.0,185.0,22.0,50.0,40.0,48.0,138.0,49.0,97.0,113.0,113.0,323.0,SUI
Syria,12.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,12.0,1.0,1.0,1.0,3.0,SYR
Chinese Taipei,13.0,2.0,7.0,12.0,21.0,11.0,0.0,0.0,0.0,0.0,24.0,2.0,7.0,12.0,21.0,TPE
Thailand,15.0,7.0,6.0,11.0,24.0,3.0,0.0,0.0,0.0,0.0,18.0,7.0,6.0,11.0,24.0,THA
Trinidad and Tobago,16.0,2.0,5.0,11.0,18.0,3.0,0.0,0.0,0.0,0.0,19.0,2.0,5.0,11.0,18.0,TRI
Tunisia,13.0,3.0,3.0,4.0,10.0,0.0,0.0,0.0,0.0,0.0,13.0,3.0,3.0,4.0,10.0,TUN
Turkey,21.0,39.0,25.0,24.0,88.0,16.0,0.0,0.0,0.0,0.0,37.0,39.0,25.0,24.0,88.0,TUR
Uganda,14.0,2.0,3.0,2.0,7.0,0.0,0.0,0.0,0.0,0.0,14.0,2.0,3.0,2.0,7.0,UGA
Ukraine,5.0,33.0,27.0,55.0,115.0,6.0,2.0,1.0,4.0,7.0,11.0,35.0,28.0,59.0,122.0,UKR
United Arab Emirates,8.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,8.0,1.0,0.0,0.0,1.0,UAE
United States,26.0,976.0,757.0,666.0,2399.0,22.0,96.0,102.0,84.0,282.0,48.0,1072.0,859.0,750.0,2681.0,USA
Uruguay,20.0,2.0,2.0,6.0,10.0,1.0,0.0,0.0,0.0,0.0,21.0,2.0,2.0,6.0,10.0,URU
Uzbekistan,5.0,5.0,5.0,10.0,20.0,6.0,1.0,0.0,0.0,1.0,11.0,6.0,5.0,10.0,21.0,UZB
Venezuela,17.0,2.0,2.0,8.0,12.0,4.0,0.0,0.0,0.0,0.0,21.0,2.0,2.0,8.0,12.0,VEN
Yugoslavia,16.0,26.0,29.0,28.0,83.0,14.0,0.0,3.0,1.0,4.0,30.0,26.0,32.0,29.0,87.0,YUG
Zimbabwe,12.0,3.0,4.0,1.0,8.0,1.0,0.0,0.0,0.0,0.0,13.0,3.0,4.0,1.0,8.0,ZIM
Mixed team,3.0,8.0,5.0,4.0,17.0,0.0,0.0,0.0,0.0,0.0,3.0,8.0,5.0,4.0,17.0,ZZX

In [68]:
only_gold = df[df['Gold'] > 0]

In [69]:
only_gold.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS

In [70]:
df[(df['Gold'] > 0) | (df['Gold.1'] > 0)]

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS
Austria,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,AUT
Azerbaijan,5,6,5,15,26,5,0,0,0,0,10,6,5,15,26,AZE
Bahamas,15,5,2,5,12,0,0,0,0,0,15,5,2,5,12,BAH
Belarus,5,12,24,39,75,6,6,4,5,15,11,18,28,44,90,BLR
Belgium,25,37,52,53,142,20,1,1,3,5,45,38,53,56,147,BEL
Brazil,21,23,30,55,108,7,0,0,0,0,28,23,30,55,108,BRA
Bulgaria,19,51,85,78,214,19,1,2,3,6,38,52,87,81,220,BUL
Burundi,5,1,0,0,1,0,0,0,0,0,5,1,0,0,1,BDI
Cameroon,13,3,1,1,5,1,0,0,0,0,14,3,1,1,5,CMR
Canada,25,59,99,121,279,22,62,56,52,170,47,121,155,173,449,CAN
Chile,22,2,7,4,13,16,0,0,0,0,38,2,7,4,13,CHI
China,9,201,146,126,473,10,12,22,19,53,19,213,168,145,526,CHN
Colombia,18,2,6,11,19,1,0,0,0,0,19,2,6,11,19,COL
Costa Rica,14,1,1,2,4,6,0,0,0,0,20,1,1,2,4,CRC
Croatia,6,6,7,10,23,7,4,6,1,11,13,10,13,11,34,CRO
Cuba,19,72,67,70,209,0,0,0,0,0,19,72,67,70,209,CUB
Czech Republic,5,14,15,15,44,6,7,9,8,24,11,21,24,23,68,CZE
Czechoslovakia,16,49,49,45,143,16,2,8,15,25,32,51,57,60,168,TCH
Denmark,26,43,68,68,179,13,0,1,0,1,39,43,69,68,180,DEN
Dominican Republic,13,3,2,1,6,0,0,0,0,0,13,3,2,1,6,DOM
Ecuador,13,1,1,0,2,0,0,0,0,0,13,1,1,0,2,ECU
Egypt,21,7,9,10,26,1,0,0,0,0,22,7,9,10,26,EGY
Estonia,11,9,9,15,33,9,4,2,1,7,20,13,11,16,40,EST
Ethiopia,12,21,7,17,45,2,0,0,0,0,14,21,7,17,45,ETH
Finland,24,101,84,117,302,22,42,62,57,161,46,143,146,174,463,FIN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Romania,20,88,94,119,301,20,0,0,1,1,40,88,94,120,302,ROU
Russia,5,132,121,142,395,6,49,40,35,124,11,181,161,177,519,RUS
Russian Empire,3,1,4,3,8,0,0,0,0,0,3,1,4,3,8,RU1
Soviet Union,9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204,URS
Unified Team,1,45,38,29,112,1,9,6,8,23,2,54,44,37,135,EUN
Serbia,3,1,2,4,7,2,0,0,0,0,5,1,2,4,7,SRB
Serbia and Montenegro,3,2,4,3,9,3,0,0,0,0,6,2,4,3,9,SCG
Slovakia,5,7,9,8,24,6,2,2,1,5,11,9,11,9,29,SVK
Slovenia,6,4,6,9,19,7,2,4,9,15,13,6,10,18,34,SLO
South Africa,18,23,26,27,76,6,0,0,0,0,24,23,26,27,76,RSA
Spain,22,37,59,35,131,19,1,0,1,2,41,38,59,36,133,ESP
Suriname,11,1,0,1,2,0,0,0,0,0,11,1,0,1,2,SUR
Sweden,26,143,164,176,483,22,50,40,54,144,48,193,204,230,627,SWE
Switzerland,27,47,73,65,185,22,50,40,48,138,49,97,113,113,323,SUI
Syria,12,1,1,1,3,0,0,0,0,0,12,1,1,1,3,SYR
Chinese Taipei,13,2,7,12,21,11,0,0,0,0,24,2,7,12,21,TPE
Thailand,15,7,6,11,24,3,0,0,0,0,18,7,6,11,24,THA
Trinidad and Tobago,16,2,5,11,18,3,0,0,0,0,19,2,5,11,18,TRI
Tunisia,13,3,3,4,10,0,0,0,0,0,13,3,3,4,10,TUN
Turkey,21,39,25,24,88,16,0,0,0,0,37,39,25,24,88,TUR
Uganda,14,2,3,2,7,0,0,0,0,0,14,2,3,2,7,UGA
Ukraine,5,33,27,55,115,6,2,1,4,7,11,35,28,59,122,UKR
United Arab Emirates,8,1,0,0,1,0,0,0,0,0,8,1,0,0,1,UAE
United States,26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,USA
Uruguay,20,2,2,6,10,1,0,0,0,0,21,2,2,6,10,URU
Uzbekistan,5,5,5,10,20,6,1,0,0,1,11,6,5,10,21,UZB
Venezuela,17,2,2,8,12,4,0,0,0,0,21,2,2,8,12,VEN
Yugoslavia,16,26,29,28,83,14,0,3,1,4,30,26,32,29,87,YUG
Zimbabwe,12,3,4,1,8,1,0,0,0,0,13,3,4,1,8,ZIM
Mixed team,3,8,5,4,17,0,0,0,0,0,3,8,5,4,17,ZZX

In [71]:
df['Gold'].min()

0

In [72]:
max_gold = df.loc[df['Gold'].idxmax()]

In [73]:
df['Gold'].idxmin()

'Afghanistan'

In [83]:
df['max_gold'] = df['Gold'] - df['Gold.1']

In [86]:
(df['Gold'] - df['Gold.1']).idxmax()

'United States'

In [87]:
df = df[(df['Gold'] > 0) | (df['Gold.1'] > 0)]

In [95]:
df['Gold'] + df['Gold.1']

Algeria                     5
Argentina                  18
Armenia                     1
Australasia                 3
Australia                 144
Austria                    77
Azerbaijan                  6
Bahamas                     5
Belarus                    18
Belgium                    38
Brazil                     23
Bulgaria                   52
Burundi                     1
Cameroon                    3
Canada                    121
Chile                       2
China                     213
Colombia                    2
Costa Rica                  1
Croatia                    10
Cuba                       72
Czech Republic             21
Czechoslovakia             51
Denmark                    43
Dominican Republic          3
Ecuador                     1
Egypt                       7
Estonia                    13
Ethiopia                   21
Finland                   143
                         ...
Romania                    88
Russia                    181
Russian Empire              1
Soviet Union              473
Unified Team               54
Serbia                      1
Serbia and Montenegro       2
Slovakia                    9
Slovenia                    6
South Africa               23
Spain                      38
Suriname                    1
Sweden                    193
Switzerland                97
Syria                       1
Chinese Taipei              2
Thailand                    7
Trinidad and Tobago         2
Tunisia                     3
Turkey                     39
Uganda                      2
Ukraine                    35
United Arab Emirates        1
United States            1072
Uruguay                     2
Uzbekistan                  6
Venezuela                   2
Yugoslavia                 26
Zimbabwe                    3
Mixed team                  8
dtype: int64

In [96]:
(df['Gold'] - df['Gold.1'])/(df['Gold'] + df['Gold.1'])

Algeria                  1.000000
Argentina                1.000000
Armenia                  1.000000
Australasia              1.000000
Australia                0.930556
Austria                 -0.532468
Azerbaijan               1.000000
Bahamas                  1.000000
Belarus                  0.333333
Belgium                  0.947368
Brazil                   1.000000
Bulgaria                 0.961538
Burundi                  1.000000
Cameroon                 1.000000
Canada                  -0.024793
Chile                    1.000000
China                    0.887324
Colombia                 1.000000
Costa Rica               1.000000
Croatia                  0.200000
Cuba                     1.000000
Czech Republic           0.333333
Czechoslovakia           0.921569
Denmark                  1.000000
Dominican Republic       1.000000
Ecuador                  1.000000
Egypt                    1.000000
Estonia                  0.384615
Ethiopia                 1.000000
Finland                  0.412587
                           ...
Romania                  1.000000
Russia                   0.458564
Russian Empire           1.000000
Soviet Union             0.670190
Unified Team             0.666667
Serbia                   1.000000
Serbia and Montenegro    1.000000
Slovakia                 0.555556
Slovenia                 0.333333
South Africa             1.000000
Spain                    0.947368
Suriname                 1.000000
Sweden                   0.481865
Switzerland             -0.030928
Syria                    1.000000
Chinese Taipei           1.000000
Thailand                 1.000000
Trinidad and Tobago      1.000000
Tunisia                  1.000000
Turkey                   1.000000
Uganda                   1.000000
Ukraine                  0.885714
United Arab Emirates     1.000000
United States            0.820896
Uruguay                  1.000000
Uzbekistan               0.666667
Venezuela                1.000000
Yugoslavia               1.000000
Zimbabwe                 1.000000
Mixed team               1.000000
dtype: float64

In [97]:
((df['Gold'] - df['Gold.1'])/(df['Gold'] + df['Gold.1'])).idxmax()

'Algeria'

In [98]:
df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

In [100]:
df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [102]:
if df['Gold'] > 0:
    df['Points'] = df['Gold'] * 3
elif df['Silver'] > 0:
    df['Points'] = df['Silver'] * 2
elif df['Bronze'] > 0:
    df['Points'] = df['Bronze'] * 1

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [111]:
df['Points'] = (df['Gold'] * 3) + (df['Silver'] * 2) + (df['Bronze'] * 1  )

In [112]:
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID,Points
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG,2
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG,27
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG,130
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM,16
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ,22

In [151]:
census_df = pd.read_csv('census.csv')

In [152]:
census_df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411
6,50,3,6,1,11,Alabama,Bullock County,10914,10915,10887,...,-30.953709,-5.180127,-1.130263,14.354290,-16.167247,-29.001673,-2.825524,1.507017,17.243790,-13.193961
7,50,3,6,1,13,Alabama,Butler County,20947,20946,20944,...,-14.032727,-11.684234,-5.655413,1.085428,-6.529805,-13.936612,-11.586865,-5.557058,1.184103,-6.430868
8,50,3,6,1,15,Alabama,Calhoun County,118572,118586,118437,...,-6.155670,-4.611706,-5.524649,-4.463211,-3.376322,-5.791579,-4.092677,-5.062836,-3.912834,-2.806406
9,50,3,6,1,17,Alabama,Chambers County,34215,34170,34098,...,-2.731639,3.849092,2.872721,-2.287222,1.349468,-1.821092,4.701181,3.781439,-1.290228,2.346901
10,50,3,6,1,19,Alabama,Cherokee County,25989,25986,25976,...,6.339327,1.113180,5.488706,-0.076806,-3.239866,6.416167,1.420264,5.757384,0.230419,-2.931307
11,50,3,6,1,21,Alabama,Chilton County,43643,43631,43665,...,-1.372935,-2.653369,0.480044,0.456017,-2.253483,-0.823761,-2.447504,0.868651,0.957636,-1.752709
12,50,3,6,1,23,Alabama,Choctaw County,13859,13858,13841,...,-15.455274,-0.737028,-8.766391,-1.274984,-5.291205,-15.528177,-0.737028,-8.766391,-1.274984,-5.291205
13,50,3,6,1,25,Alabama,Clarke County,25833,25840,25767,...,-6.194363,-17.667705,-0.318345,-8.686428,-5.613667,-6.077488,-17.509958,-0.159172,-8.486280,-5.411736
14,50,3,6,1,27,Alabama,Clay County,13932,13932,13880,...,-10.744102,-13.345130,4.902871,5.702648,3.912450,-10.816697,-13.345130,4.977157,5.776708,3.986270
15,50,3,6,1,29,Alabama,Cleburne County,14972,14972,14973,...,-3.673524,-5.151880,7.345821,3.654485,-3.123961,-3.673524,-5.151880,7.345821,3.654485,-3.123961
16,50,3,6,1,31,Alabama,Coffee County,49948,49948,50177,...,0.377640,7.675579,-13.146535,-3.602859,2.214774,2.166460,11.513368,-10.438741,-0.767822,5.350738
17,50,3,6,1,33,Alabama,Colbert County,54428,54428,54514,...,-0.073423,1.065051,1.762390,1.835688,-0.110260,0.513964,1.469035,2.276420,2.533249,0.588052
18,50,3,6,1,35,Alabama,Conecuh County,13228,13228,13208,...,-4.861559,-7.504690,-6.107224,-14.645416,2.684140,-4.861559,-7.504690,-6.107224,-14.645416,2.684140
19,50,3,6,1,37,Alabama,Coosa County,11539,11758,11758,...,-33.930581,-10.291443,-4.313831,-22.958017,-5.387581,-34.017138,-10.380162,-4.403703,-23.049483,-5.387581
20,50,3,6,1,39,Alabama,Covington County,37765,37765,37796,...,6.696899,-4.612668,0.740271,3.697932,-0.316945,6.881460,-4.559952,0.793147,3.750759,-0.264121
21,50,3,6,1,41,Alabama,Crenshaw County,13906,13906,13853,...,1.729792,3.950156,-1.864936,3.084648,3.439504,2.666763,5.099293,-0.502098,4.734577,5.087600
22,50,3,6,1,43,Alabama,Cullman County,80406,80410,80473,...,-1.404233,-1.019628,4.071247,5.087142,7.915406,-1.031427,-0.634159,4.542916,5.593387,8.417777
23,50,3,6,1,45,Alabama,Dale County,50251,50251,50358,...,-10.749798,-5.277150,-15.236079,-11.979785,-5.107706,-9.575283,-0.776637,-12.640155,-9.503292,-1.998668
24,50,3,6,1,47,Alabama,Dallas County,43820,43820,43803,...,-15.635599,-11.308243,-16.745678,-9.344789,-14.687232,-15.727573,-11.378047,-16.792849,-9.368689,-14.711389
25,50,3,6,1,49,Alabama,DeKalb County,71109,71115,71142,...,0.294677,-9.302391,-1.748807,0.267830,0.028141,1.375159,-8.656001,-1.029539,1.198187,0.956790
26,50,3,6,1,51,Alabama,Elmore County,79303,79296,79465,...,3.235576,0.822717,1.760531,-1.507057,2.067820,3.674511,1.558176,2.306047,-0.951175,2.757093
27,50,3,6,1,53,Alabama,Escambia County,38319,38319,38309,...,-3.449988,-3.855889,-4.822706,-1.189831,1.190902,-3.397716,-3.803428,-4.769999,-1.136950,1.243830
28,50,3,6,1,55,Alabama,Etowah County,104430,104427,104442,...,-1.015919,2.062637,-1.931884,-1.726932,-2.082234,-0.632554,2.446383,-1.518596,-1.234901,-1.588308
29,50,3,6,1,57,Alabama,Fayette County,17241,17241,17231,...,-5.015601,-0.646640,-3.725937,0.296745,-2.797536,-5.132243,-0.705426,-3.785079,0.237396,-2.857058
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3163,50,2,3,55,131,Wisconsin,Washington County,131887,131885,131967,...,-0.794876,0.785279,-2.215465,1.601149,-0.434498,-0.431504,1.162817,-1.763330,2.104796,0.059931
3164,50,2,3,55,133,Wisconsin,Waukesha County,389891,389938,390076,...,-0.765799,2.128860,0.038132,0.760109,-0.719858,0.102448,3.180527,1.189727,2.077633,0.593567
3165,50,2,3,55,135,Wisconsin,Waupaca County,52410,52410,52422,...,3.111756,-2.241873,6.292687,-0.441031,-0.480617,3.359933,-2.011937,6.561277,-0.134227,-0.173022
3166,50,2,3,55,137,Wisconsin,Waushara County,24496,24496,24506,...,4.930022,-2.404973,-4.097017,-4.906711,-4.397793,5.174486,-2.160399,-3.810226,-4.535615,-4.024395
3167,50,2,3,55,139,Wisconsin,Winnebago County,166994,166994,167059,...,0.316712,2.889873,0.833819,-2.406192,-4.557985,0.842573,3.502335,1.531624,-1.545153,-3.685304
3168,50,2,3,55,141,Wisconsin,Wood County,74749,74749,74807,...,-4.081523,-5.019090,-6.901200,-5.596471,-3.958322,-3.733590,-4.562809,-6.442917,-5.040889,-3.414223
3169,40,4,8,56,0,Wyoming,Wyoming,563626,563767,564516,...,-0.381530,9.636214,4.487115,-4.788275,-3.221091,0.289680,10.694870,5.440390,-3.727831,-2.091573
3170,50,4,8,56,1,Wyoming,Albany County,36299,36299,36428,...,3.708956,2.637812,-3.544634,-3.334877,-9.911169,6.736119,6.433032,0.719587,1.429233,-5.166460
3171,50,4,8,56,3,Wyoming,Big Horn County,11668,11668,11672,...,4.868258,2.804930,16.815908,-8.026420,5.095861,4.868258,3.144921,17.236306,-7.608378,5.513554
3172,50,4,8,56,5,Wyoming,Campbell County,46133,46133,46244,...,-2.843479,15.601020,-5.895711,-8.550911,10.916963,-2.649606,15.558684,-5.916543,-8.509402,10.978525
3173,50,4,8,56,7,Wyoming,Carbon County,15885,15885,15837,...,-7.581980,-13.081441,3.178134,-2.970641,-23.300971,-7.392431,-12.636926,3.623073,-2.338590,-22.600668
3174,50,4,8,56,9,Wyoming,Converse County,13833,13833,13826,...,-12.847499,15.493820,19.035533,-20.550587,-0.070403,-12.774915,16.502720,20.093063,-19.358233,1.126443
3175,50,4,8,56,11,Wyoming,Crook County,7083,7083,7114,...,-1.544618,-4.202564,1.397819,6.378258,18.629317,-0.982939,-3.642222,2.096729,7.071547,19.309219
3176,50,4,8,56,13,Wyoming,Fremont County,40123,40123,40222,...,2.747083,7.782673,-4.990688,-12.331633,-13.673610,3.093562,8.027411,-4.747240,-12.013555,-13.352750
3177,50,4,8,56,15,Wyoming,Goshen County,13249,13247,13408,...,14.293649,3.961413,-8.079028,-7.017803,-11.899450,14.886132,4.841727,-6.903896,-5.761986,-10.635133
3178,50,4,8,56,17,Wyoming,Hot Springs County,4812,4812,4813,...,3.322604,6.208609,3.095336,-6.017222,-5.454164,5.191569,6.001656,2.888981,-6.224712,-5.663940
3179,50,4,8,56,19,Wyoming,Johnson County,8569,8569,8581,...,4.995063,-4.058912,-0.812583,-10.715742,0.933652,5.227392,-4.058912,-0.812583,-10.715742,0.933652
3180,50,4,8,56,21,Wyoming,Laramie County,91738,91881,92271,...,-1.200428,15.547274,4.787847,-1.226133,0.278940,-0.973320,17.914554,6.003143,-0.207819,1.673640
3181,50,4,8,56,23,Wyoming,Lincoln County,18106,18106,18091,...,-9.802564,-11.566801,13.564556,6.125989,1.555544,-9.691801,-11.566801,13.619696,6.234414,1.662823
3182,50,4,8,56,25,Wyoming,Natrona County,75450,75450,75472,...,7.189319,23.066162,24.322042,-0.958472,-0.061057,7.689674,23.749508,25.085233,-0.110593,0.793743
3183,50,4,8,56,27,Wyoming,Niobrara County,2484,2484,2492,...,-0.401849,0.806452,29.066295,-12.603387,7.492114,-0.401849,0.806452,29.066295,-12.603387,7.492114
3184,50,4,8,56,29,Wyoming,Park County,28205,28205,28259,...,4.582951,8.057765,7.641997,-9.252437,-2.878980,6.486639,11.127389,10.877797,-5.585731,0.856839
3185,50,4,8,56,31,Wyoming,Platte County,8667,8667,8678,...,4.373094,5.392073,2.634593,6.055759,4.662270,4.373094,4.933173,2.176403,5.598720,4.207414
3186,50,4,8,56,33,Wyoming,Sheridan County,29116,29116,29146,...,0.958559,8.425487,4.546373,3.678069,-3.298406,2.122524,9.342778,5.523001,4.781489,-2.198937
3187,50,4,8,56,35,Wyoming,Sublette County,10247,10247,10244,...,-23.741784,15.272374,-40.870074,-16.596273,-22.870900,-21.092907,16.828794,-39.211861,-14.409938,-20.664059
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

In [154]:
counties_df = census_df[census_df['SUMLEV'] == 50]
x = counties_df.groupby('STNAME').count()['SUMLEV']
ans = x.idxmax()9

In [156]:
x

STNAME
Alabama                  67
Alaska                   29
Arizona                  15
Arkansas                 75
California               58
Colorado                 64
Connecticut               8
Delaware                  3
District of Columbia      1
Florida                  67
Georgia                 159
Hawaii                    5
Idaho                    44
Illinois                102
Indiana                  92
Iowa                     99
Kansas                  105
Kentucky                120
Louisiana                64
Maine                    16
Maryland                 24
Massachusetts            14
Michigan                 83
Minnesota                87
Mississippi              82
Missouri                115
Montana                  56
Nebraska                 93
Nevada                   17
New Hampshire            10
New Jersey               21
New Mexico               33
New York                 62
North Carolina          100
North Dakota             53
Ohio                     88
Oklahoma                 77
Oregon                   36
Pennsylvania             67
Rhode Island              5
South Carolina           46
South Dakota             66
Tennessee                95
Texas                   254
Utah                     29
Vermont                  14
Virginia                133
Washington               39
West Virginia            55
Wisconsin                72
Wyoming                  23
Name: SUMLEV, dtype: int64